@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-shadow: 1px 1px #000;
}

body {
    min-height: 100vh;
}

/* Mobile First */

main {
    min-height: 100vh;

    background-image: url(images/background.jpg);
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

main > section#First {
    padding: 30px 0;
    /* flex-grow:; */
}

main > section#First > p{
    padding: 0 30px;
    font-size: 100%;
    text-align: center;
    margin-bottom: 20px;
}

main > section#First > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main > section#First > div > p {
    line-height: 25px;
}

main > section#Second {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
    align-items: center;

    flex-grow: .5;
} 

main > section#Second > p.id_1 {
    
}

main > section#Second > p.noivos {
    font-family: 'Great Vibes', sans-serif;
    font-size: 3em;
}
main > section#Second > div.date {
    width: 100%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main > section#Second > div.date > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 100%;
}

main > section#Second > div.date > div > span {
    width: 20px; /* Largura do quadrado */
    height: 50px; /* Altura do quadrado */
    background-color: #fff; /* Cor do quadrado */
    transform: perspective(500px) rotateY(70deg); /* Perspectiva e inclinação */
}

main > section#Second > p.versiculo {
    margin: 20px 20px;
    text-align: justify;
}

main > section#Third {
    flex-grow: .3;
}