.bgImage {
    background-repeat:no-repeat;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;

    background-image: url(../images/background.jpg);
    height: 100vh;
    width: 100%;
    filter: brightness(50%);
}

main {
    min-height: 100vh;
    padding: 30px;
}

main > h2 {
    text-align: center;
    font-size: 1.5em;
    padding: 10px 0;
}

main > div {
    text-align: center;
    padding: 20px 0;
}

main > div > input {
    padding: 3px;
    margin-left: 5px;
    outline: none;
    /* background-color: transparent; */
    border: none;
    color: #aaa;
}

main > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul > li {
    list-style-type: decimal;
    margin: 5px 0 5px 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: max-content;
}

li > a {
    padding: 5px 3px;
    /* text-decoration: underline; */
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
}

li > span {
    margin: 0 5px;
}

div[inputs] {
    /* padding: 20px; */
    display: none;
}
div[inputs].clicked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div[inputs] > form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div[inputs] > form > input[type="submit"] {
    padding: 5px;
    color: #000;
}

div[inputs] > form > div {
    width: 100%;
    padding: 5px 0 0;
    text-align: left;
}

div[inputs] > form > div > span {
    padding: 0 0 0 10px;
    font-size: 20px;
}