/* Mobile First */
main {
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 20px 0;
    gap: 30px;
    overflow: hidden;

    transform: translate(-10px, -20px);
    opacity: 0;
    transition: all .5s ease-out;
    text-shadow: 1.2px 1.2px #000;
}

main.clicked {
    transform: translate(0, 0);
    opacity: 1;
}

.bgImage {
    background-repeat:no-repeat;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 1;

    background-image: url(../images/background2.jpeg);
    height: 100vh;
    width: 100%;
    /* filter: brightness(50%); */
}

.bgImage::after {
    text-align: center;
    padding: 20px;
    width: 100px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
    content: 'Click na foto!';
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-70px);
}

.bgImage.clicked {
    filter: brightness(50%);
    background-image: url(../images/background.jpeg);
}

.bgImage.clicked::after {
    display: none;
}

main > section#First {
    padding: 30px 0 0;
    /* flex-grow:; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section#First > p {
    padding: 0 30px;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Old Standard TT', sans-serif;
}

main > section#First > p#bodas {
  font-size: 1.8em;
}

main > section#First > div {
    display: flex;
    gap: 12px;
    align-items: center;
}

main > section#First > div > span {
    font-family: 'Great Vibes', sans-serif;
    font-size: 2em;
}

main > section#Second {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
} 

main > section#Second > div#parents {
    width: 100%;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
}

main > section#Second > div#parents > p {
  width: 150px;
}

main > section#Second > div#parents > p:nth-child(2) {
  text-align: end;
}

main > section#Second > div#parents > p:nth-child(2) {
  text-align: end;
}

main > section#Second > div.date {
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

main > section#Second > div.date > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
}

main > section#Second > div.date > div > span {
    width: 10px; /* Largura do quadrado */
    height: 50px; /* Altura do quadrado */
    background-color: #fff; /* Cor do quadrado */
    transform: perspective(500px) rotateY(70deg); /* Perspectiva e inclinação */
}

main > section#Second > div.date > div > p {
    text-align: center;
    font-size: 16px;
}

main > section#Second > div.date > p {
    margin-left: 15px;
    /* text-align: center; */
    font-size: 16px;
}

main > section#Second > p.versiculo {
    margin: 20px 40px;
    text-align: justify;
    word-spacing: 5px;
    font-size: 1.2em;
}

main > section#Second > p.versiculo > span {
    font-size: 1em;
    margin: 5px 0 0;
    width: 100%;
    display: block;
    text-align: right;
}

a {
    text-decoration: none;
}

main > section#Third {
    padding: 10px 0;
    position: relative;
}

main > section#Third > a {
    font-size: 30px;
    font-weight: 600;
    transform: translateY(0);
    position: relative;
    transition: all .5s ease-in;
}

main > section#Third > a.animate {
    transform: translateY(-5px);
} 

main > section#Third > span {
    transition: all .5s ease-in;
    display: block;
    opacity: 0;
    width: max-content;
    position: absolute;
    bottom: 35%;
    font-size: 10px;
    border-radius: 5px;
    border: 1.5px solid #fff;
    padding: 2px 5px;

}

main > section#Third > span#id_3 {
    left: -45px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-right: 0;
    border-bottom: 0;
}

main > section#Third > span#id_4 {
    left: 35px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-left: 0;
}

@media (min-width: 800px) {
    main::after {
        content: 'Abra o convite pelo celular';
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }
}